<h1>Sign Up below</h1>

<style>
    h5{
        color: red;
    }
</style>

{% for message in messages %}
<h5> {{message}}</h5>
{% endfor %}

<form method="POST" action = 'register'>
    {% csrf_token %}

    <p>Username:</p>
    <input type="text" name="username" required/>

    <p>Email:</p>
    <input type="email" name="email" required/>

    <p>Password:</p>
    <input type="password" name="password" required/>
    
    <p>Repeat Password:</p>
    <input type="password" name="password2" required/><br>

    <input type="submit" required/>
</form>

<p> Already have an account? </p>
<a class="login" href="login">Login</a>